/* Aumentar la altura del contenedor select2 */
.select2-container .select2-selection--single {
    height: 38px !important; /* Ajustar según la altura deseada */
    line-height: 36px !important; /* Centrar el texto verticalmente */
    padding: 6px 12px !important; /* Añadir un poco de espacio interior */
    border-radius: 0.375rem; /* Ajuste para emular el estilo Bootstrap */
    border: 1px solid #ced4da; /* Alineado con el estilo de Bootstrap */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Aumentar la altura del contenedor al enfocarse */
.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single:hover {
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Ajuste para el ícono de eliminación en select2 */
.select2-container .select2-selection__clear {
    margin-right: 8px; /* Espacio entre el texto y el icono */
    color: #dc3545; /* Estilo Bootstrap para el icono de eliminación */
    margin-top: -10px; /* Ajuste para centrar el icono verticalmente */
}

/* Ajustar el dropdown */
.select2-dropdown {
    border-radius: 0.375rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
